#header {
  display: block;
  height: 40px;
  margin: 5px;
  padding: 0px;
}
h3 {
  display: inline-block;
}
#board {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  min-height: 200px;
  padding:0px;
}

#menu {
  float:right;
}
#playerInfo {
  margin: 5px;
  padding: 0;
  float: right;
  background-color: darkgrey;
  border-radius: 5px;
  width: 125px;
}
#playerInfo > * {
  margin: 0;
  padding: 0;
  display:block;
}
#otherPlayers {
  margin: 0;
  padding: 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  min-height: 100px;
}
.playerName {
  position:relative;
  margin: 5px;
  padding: 3px;
  background-color: darkgrey;
  border-radius: 5px;
}
#statusDiv {
  margin:0;
  padding:0;
  display: inline;
}
#playerHeader {
  display: block;
  width: 100%;
}
#status {
  position:relative;
  margin: 0;
  padding: 0;
  display: inline;
  width: 25px;
  height: 25px;
}
.player {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid black;
  height: 100px;
  display: block;
}



#playerResources {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  align-content: center;
  flex-direction: column;
}
#gameBtns {
  height:6%;
  margin-bottom: 20px;
  text-align: center;
  width: 95%;
}
#gameBtns > a > button {
  width: 45%;
  margin: 2.5%;
  text-align: center;
}
#personal {
  margin:auto;
  text-align: center;
  display: inline-block;
  float: top;
}
.pile {
  padding:0px;
  margin: 5px;
  display: block;

}
#personal > .pile {
  right: 5px;
}
.card {
  border-top: 2px inset #0275d8;
  border-left: 2px inset #0275d8;
  margin-right: -10px;
  display: inline-block;
  width: 35px;
}
.pile1 > *{
  width: 65px;
}
.pile2 > *{
  width: 50px;
}
.pile3 > *{
  width: 35px;
}
body {
  color: white;
  background-image: url("../CardCropped/connectwork.png");
}
