body {
  padding-top: 150px;
  color: white;
  background-image: url("../CardCropped/connectwork.png");
}
#gameCodeContainer {
  margin-bottom: 5px;
  background-color: darkgrey;
  border-radius: 10px;
  padding:5px;
  border: 2px solid black;
  display: inline-block;
}
.nameLabel {
  display: inline-block;
  text-align: center;
  border: 2px solid black;
}
#playerList {
  background-color: darkgrey;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
#gameStart {
  text-align: center;
}
