body {
  padding-top: 150px;
  color: white;
  background-image: url("../CardCropped/connectwork.png");
}
#gameCodeContainer {
  margin-bottom: 5px;
  border: 2px solid black;
  display: inline-block;
}
.nameLabel {
  display: inline-block;
  text-align: center;
  border: 2px solid black;
}
.playerList {
  display: flex;
  align-content: center;
}
#gameStart {
  text-align: center;
}
