body {
  color: white;
  background-image: url("../CardCropped/connectwork.png");
}
#header {
  font-family: 'Lobster', cursive;
  padding-top: 200px;
  text-align: center;
}
#intro {
  text-align: center;
}
