<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/joinMenu.css">

    <title>Card Game</title>
</head>
<body>
  <div class = "container-fluid" id="joinCode">
    <h3 id="enterCode">Enter Join Code</h3>
    <input type="text" class="form-container-fluid" id="codeInput">
    <button type="button" class="btn btn-primary" id="joinBtn">Join Game</button>
  </div>

</body>
</html>
